.mainbg{
    background-image: url(mannup2.jpg);
    background-size: cover;
}
 @media (min-width: 1080px){
    .mainbg{
        background-image: url(mannup1.png);
        background-size: cover;
    }
 }